@model IEnumerable<MYBUSINESS.Models.ScanCreditCard>

<div id="SelectedBOMData">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table class="table table-hover cell-border" id="SelectedBOMIndex">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.First().Id)</th>
                                    <th>Store Name</th>
                                    <th>@Html.DisplayNameFor(model => model.First().Date)</th>
                                    <th>@Html.DisplayNameFor(model => model.First().Amount)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        @*<td>@Html.DisplayFor(modelItem => item.StoreShortName)</td>*@
                                        <td>@Html.DisplayFor(modelItem => item.Store.StoreShortName)</td>
                                        <td>@(item.Date.HasValue ? item.Date.Value.ToString("dd/MM/yyyy") : "")</td>
                                        <td>@(item.Amount.HasValue ? item.Amount.Value.ToString("N0") : "")</td>
                                        <td>
                                            @Html.ActionLink("Update", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        $('#SelectedBOMIndex').DataTable({
            "scrollY": "400px",
            "scrollCollapse": true,
            "paging": false,
            "bInfo": false,
            "order": [[0, "desc"]],
            "searching": true,
            "columnDefs": [
                {
                    "type": "date-eu",
                    "targets": 2,
                    "render": function (data) {
                        // Convert dd/MM/yyyy to yyyyMMdd for sorting
                        var parts = data.split('/');
                        if (parts.length === 3) {
                            return parts[2] + parts[1] + parts[0];
                        }
                        return data;
                    }
                }
            ]
        });
    });
</script>