@*@model IEnumerable<MYBUSINESS.Models.SO>*@
@model MYBUSINESS.Models.DashboardViewModel
@{
    /**/

    ViewBag.Title = "Stock Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<center><h2>Stock Summary</h2></center>


<input type="hidden" name="supplierId" id="supplierId" value="@ViewBag.SupplierId" />
@*<h1>@ViewBag.myLog</h1>*@



@*<p>
        @Html.ActionLink("Create New Sale Order", "Create")
    </p>*@

<form name="registration_form_Product" id='registration_form_Product' class="form-inline noPrint">
    <center>
        <div class="row">
            <div class="form-group">
                <label>Store:</label>
                @{
                    var storesList = new List<SelectListItem>();
                    // Add Factory option with value 0
                    storesList.Add(new SelectListItem
                    {
                        Text = "Factory",
                        Value = "0",
                        Selected = ViewBag.CurrentStoreId == 0
                    });

                    // Add all stores from database
                    foreach (var store in ViewBag.Stores)
                    {
                        storesList.Add(new SelectListItem
                        {
                            Text = store.Name,
                            Value = store.Id.ToString(),
                            Selected = store.Id == ViewBag.CurrentStoreId
                        });
                    }
                }
                @Html.DropDownList("storeId", storesList, new { @class = "form-control" })
            </div>

            <input type="hidden" name="SaleOrder.CustomerId" id="idnCustomer" value="@ViewBag.CustomerId" />
            <input type="hidden" autocomplete="off" class="form-control" name="Customer.Name" id="customer" value="" placeholder="Search by customer" data-toggle="tooltip" data-placement="top" title="Search by customer">

            @Html.Editor("startDate", new { htmlAttributes = new { @class = "form-control datepicker", @id = "datepickerStart", @placeholder = "Start date", @Value = ViewBag.StartDate } })

            @Html.Editor("endDate", new { htmlAttributes = new { @class = "form-control datepicker", @id = "datepickerEnd", @placeholder = "End date", @Value = ViewBag.EndDate } })

            <input type="button" value="Go" id="btnSearch" class="btn btn-warning add-new" />
        </div>
    </center>

    <div class="row">
        <div class="col-sm-11">
            <!-- Empty space -->
        </div>
        <div class="col-sm-1">
            <a href="#" id="printMe" class="btn btn-info"><i class=""></i> Print</a>
        </div>
    </div>
</form>



@{Html.RenderPartial("_Summary", Model); }

@*<style type="text/css" media="print">
        .NonPrintable {
            display: none;
        }
        .Printable {
            display: block;
        }

    </style>*@

<style type="text/css" media="screen">
    .noPrint {
    }

    .noScreen {
        display: none;
    }
</style>

<style type="text/css" media="print">
    .noPrint {
        display: none;
    }

    .noScreen {
    }
</style>


<link href="@Url.Content("~/Content/custom/downloads/jquery-ui-1.12.1.custom/jquery-ui.min.css")" rel="stylesheet" type="text/css" />
<script src="~/Content/custom/downloads/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

<script type="text/javascript">
    $(function () {
        // Initialize datepickers
        $('.datepicker').datepicker({
            dateFormat: 'dd-M-yy',
            showOn: "both"
        });
    });

    $(document).ready(function () {
        // Print functionality
        $('#printMe').click(function () {
            if ($.fn.DataTable.isDataTable('#PWS')) {
                $('#PWS').DataTable().destroy();
            }
            window.print();
        });

        // Customer name click handler
        $('tr td.CustomerNameForSearch').click(function () {
            $('#customer').val($(this).text().trim());
            $('#idnCustomer').val($(this).closest("tr").find(".CustomerIdForSearch").text());
            SearchThis();
        });

        // Search button click handler
        $('#btnSearch').click(function () {
            SearchThis();
        });

        function SearchThis() {
            var custId = $('#idnCustomer').val();
            var suppId = $('#supplierId').val();
            var storeId = $('#storeId').val();

            if ($('#customer').val().trim() != "" && $('#idnCustomer').val() == "") {
                alert('Customer not found. Please select customer from list');
                return false;
            }

            var startDate = $('#datepickerStart').datepicker({ dateFormat: 'dd-M-yy' }).val();
            var endDate = $('#datepickerEnd').datepicker({ dateFormat: 'dd-M-yy' }).val();

            $('#loadingIndicator').show();

            $.ajax({
                url: "@Url.Action("FilterIndex", "StockTransections")",
                data: {
                    'custId': custId,
                    'suppId': suppId,
                    'startDate': startDate,
                    'endDate': endDate,
                    'storeId': storeId
                },
                type: "GET",
                cache: false,
                success: function (data) {
                    $("#NewData").html(data);
                    $('#loadingIndicator').hide();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#loadingIndicator').hide();
                    alert('Error loading data: ' + thrownError);
                }
            });
        }
    });
</script>