@model List<MYBUSINESS.Models.ProductCategoryViewModel>

<h2 style="text-align:center; margin-top: 20px;">Saleable Product Order</h2>

@using (Html.BeginForm("SubmitOrder", "StoreOrder", FormMethod.Post))
{
    <div class="content-wrapper">
        <section class="content">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title" style="text-align:center;">Saleable Product Order</h3>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label>Select Store:</label>
                        @Html.DropDownList("storeId", ViewBag.Stores as SelectList, "Select Store", new
                        {
                            @class = "form-control",
                            required = "required",
                            style = "width: 200px;"
                        })
                    </div>

                    @for (int i = 0; i < Model.Count; i++)
                    {
                    <h4 style="margin-top:20px;"><strong>Category: @Model[i].CategoryName</strong></h4>
                    <table id="productTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th style="width:10%;">Name</th>
                                <th style="width:10%;">Quantity</th>
                                <th style="width:10%;">Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int j = 0; j < Model[i].Products.Count; j++)
                            {
                                
                                <tr>
                                    <td>@Model[i].Products[j].Name</td>
                                    <td>
                                        @Html.HiddenFor(m => m[i].Products[j].ProductId)
                                        @Html.TextBoxFor(m => m[i].Products[j].Quantity, new { @class = "form-control", type = "number", step = "0.01" })
                                    </td>
                                    <td>@Model[i].Products[j].Unit</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    }
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit Order</button>
                </div>
            </div>
        </section>
    </div>
}