@model MYBUSINESS.Models.FinalProductionViewModel
@{
    ViewBag.Title = "Create FinalProduction";
}

<!-- Content Wrapper. Contains page content -->
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create FinalProduction</h3>
                    </div>

                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => Model.FinalProduction.Id, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => Model.FinalProduction.Id, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.SuggestedId, @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => Model.FinalProduction.Id, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => Model.FinalProduction.Date, htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => Model.FinalProduction.Date, new { @class = "form-control", type = "date" })
                            @Html.ValidationMessageFor(model => Model.FinalProduction.Date, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => Model.Product.Id, "Select Product", new { @class = "control-label" })
                            @Html.DropDownListFor(
                                model => Model.FinalProduction.ProductName,
                                (SelectList)ViewBag.ProductList,
                                "Select a Product",
                                new { @class = "form-control" }
                            )
                            @Html.ValidationMessageFor(model => Model.FinalProduction.ProductName, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.FinalProduction.Unit, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(
                                model => model.FinalProduction.Unit,
                                new SelectList(new List<string> { "Kg", "Gram", "Square", "Bar" }),
                                new { @class = "form-control" }
                            )
                            @Html.ValidationMessageFor(model => model.FinalProduction.Unit, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => Model.FinalProduction.QuantityToProduce, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => Model.FinalProduction.QuantityToProduce, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => Model.FinalProduction.QuantityToProduce, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="box-footer">
                        <input type="submit" id="CreateSO" value="Create" class="btn btn-primary" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>

            <!-- Right column for Sub Items -->
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Sub Items</h3>
                    </div>

                    <div class="box-body">
                        <table id="selectedProducts" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 5%;">#</th>
                                    <th style="width: 60%;">Name</th>
                                    <th style="width: 12%;">Qty</th>
                                    <th style="width: 20%;">Unit</th>
                                    <th style="width: 15%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="SNo0">1</td>
                                    <td style="display:none;">
                                        <input type="hidden" name="SubItem.Index" value="0" />
                                    </td>
                                    <td style="display:none;">
                                        <input type="text" readonly class="form-control classBGcolor" name="SubItem[0].ProductId" id="idn0">
                                    </td>
                                    <td>
                                        <input type="text" autocomplete="off" class="form-control" name="SubItem[0].Product.Name" id="name0" placeholder="Type product name" />
                                    </td>
                                    <td>
                                        <input type="text" autocomplete="off" class="form-control" name="SubItem[0].Quantity" id="quantity0" />
                                    </td>
                                    <td>
                                        <select class="form-control" name="SubItem[0].BOM.Unit" id="unit0">
                                            <option value="Kg" selected>Kg</option>
                                            <option value="Gram">Gram</option>
                                        </select>
                                    </td>


                                    <td>
                                        <button type="button" id="delete0" class="delete btn btn-default add-new"><a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a></button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="table-title">
                            <div class="row">
                                <div class="col-sm-3">
                                    <button type="button" id="addNewRow" class="btn btn-primary add-new" style="background-color: #2bbdb9;">
                                        <i class="fa fa-plus"></i> New Row
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}


<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.1/jquery-ui-timepicker-addon.css">
<script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript" src="//code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.1/jquery-ui-sliderAccess.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ui-timepicker-addon/1.6.1/jquery-ui-timepicker-addon.js"></script>



<link href="@Url.Content("~/Content/custom/custom.css")" rel="stylesheet" type="text/css" />
<script src="~/Content/custom/subItem.js"></script>
<script src="~/Content/custom/downloads/jquery.mcautocomplete.js"></script>
<script src="~/Content/custom/downloads/jquery.scannerdetection.js"></script>
<script>

  $(document).ready(function () {
    document.getElementById('SOCreate').reset(); // has to be handle
  });



    txtSerialNum = 0;
    TriggerBodyEvents();

    var getPrevBalanceUrl = '@Url.Action("GetPreviousBalance", "SOSR")';                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     //OpenDialogue('#name0');


    @{
        var carton = 0; //= (d.Stock / d.PerPack);
        var piece = 0;
        foreach (var d in Model.Products)
        {
            carton = (int)(d.Stock / d.PerPack);
            piece = (int)(d.Stock % d.PerPack);
            if (piece == 0)
            {
                @:products.push(["@d.Id", "@d.Name", "@d.SalePrice", "@carton"]);
            }
            else
            {
                @:products.push(["@d.Id", "@d.Name", "@d.SalePrice", "@carton,@piece"]);
            }
            @:productsBarcodes.push(["@d.Id", "@d.BarCode"]);

        }
     }


        IsReturn = '@(ViewBag.IsReturn)';


        $('.from-date-picker').datetimepicker({
            dateFormat: "dd-M-yy",
            timeFormat: "hh:mm tt",
            showOn: "both",
            timeInput: true,
            stepHour: 1,
            stepMinute: 5,
            oneLine: true,
            //changeMonth: true,
            //changeYear: true,
            controlType: 'select',
            buttonImageOnly: true,
            buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif",
            buttonText: "Select date"
        });




         $("#NewData").dialog({
            autoOpen: false,
             title: 'Should not sell-out, already rented on thses dates',
            closeText: '', //Changes the text of the titlebar-close button to hello instead of default Close
            width: 500,
            Height:500

        });

        function FetchProductRentStatus() {
        //alert('wwww');

            var date = new Date();
            var day = date.getDate();       // yields date
            var month = date.getMonth() + 1;    // yields month (add one as '.getMonth()' is zero indexed)
            var year = date.getFullYear();  // yields year
            var hour = date.getHours();     // yields hours
            var minute = date.getMinutes(); // yields minutes
            var second = date.getSeconds(); // yields seconds

            // After this construct a string with the above results as below
            var sellDate = day + "/" + month + "/" + year;// + " " + hour + ':' + minute + ':' + second;

            var prodId = $('#idn' + clickedIdNum).val();




            $.ajax({
                url: "@Url.Action("ProductRentStatus","SOSR")",
                data: { 'prodId': prodId, 'sellDate': sellDate},
                type: "GET",
                cache: false,
                success: function (data) {
                    //toastr.success('Hi! I am success message.');
                    //var abc = data;
                    //alert(data);
                    if (data.indexOf('12:00:00 AM') != -1) {

                        $("#NewData").html(data);
                        $("#NewData").dialog("open");
                    //}
                    }


                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //$('#lblCommentsNotification').text("Error encountered while saving the comments.");
                    alert('Data provided was not valid');
                }
            });
        }

        //alert(IsReturn);

        $('#isService').on('change', function () {
            if (this.value == 'true')
            //.....................^.......
            {
                $("#pprice").hide();
                $("#stk").hide();
            }
            else {
                $("#pprice").show();
                $("#stk").show();
            }
        });



</script>
@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
