@model IEnumerable<MYBUSINESS.Models.BOM>

<div id="SelectedBOMData">
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm())
                {
                    <div class="form-inline mb-3" style="margin-bottom: 15px;">
                        <div class="form-group">
                            <label style="margin-right: 10px;">Filter by Product Type:</label>
                            @Html.DropDownList("pType",
                                new SelectList(ViewBag.ProductTypes, "Value", "Text", ViewBag.CurrentPType),
                                "-- All Product Types --",
                                new
                                     {
                                    @class = "form-control",
                                    onchange = "this.form.submit()",
                                    style = "width: 200px; display: inline-block;"
                                })
                        </div>
                        <noscript>
                            <input type="submit" value="Filter" class="btn btn-primary" />
                        </noscript>
                    </div>
                }
                <div class="box">
                    <div class="box-body">
                        <table class="table table-hover cell-border" id="SelectedBOMIndex">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(m => m.First().Id)</th>
                                    <th>Product Name</th>
                                    <th>Production Process Cateogry)</th>
                                    <th>Unit</th>
                                    <th>Create Date)</th>
                                    <th>Update Date</th>
                                    <th style="display:none">@Html.DisplayNameFor(m => m.First().TimeUnit)</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ProductionProcessCateogry)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Unit)</td>
                                        <td style="display:none;">@Html.DisplayFor(modelItem => item.Manufacturable)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CreateDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UpdateDate)</td>
                                        <td>
                                            @Html.ActionLink("Update", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        $('#SelectedBOMIndex').DataTable({
            "scrollY": "400px",
            "scrollCollapse": true,
            "paging": false,
            "bInfo": false,
            "order": [[0, "desc"]],
            "searching": true
        });
    });
</script>
